
h6 {
    font-weight: bold;
    text-align: center;
}

.row {
    margin: 10px;
    padding-top: 15px;
    
}

#pageHeader {
    border-bottom: solid grey 3px;
}


.selID {
    /* border: solid black 3px; */
    margin-bottom: 10px;
}

